*.o
stamp-h1
Makefile
Makefile.in
libpartialzip-1.0.pc
m4
aclocal.m4
libtool
missing
ltmain.sh
autom4te.cache
install-sh
decomp
configure
compile
config.*
src/.deps/
src/.libs/
src/libpartialzip-1.0.la
src/libpartialzip_1_0_la-libpartialzip.lo
tools/.deps/
tools/.libs/
tools/partialzip
